body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

h1 {
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.next-btn {
    margin-top: 20px;
}

.hidden {
    display: none;
}
